html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    display: block;
}
.section{
    margin: 10px;
    padding: 20px;
}

.header{
    background-image: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-size: cover;
}

